@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");


*
{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    

   }
   

.container{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    width: 100%;

}

.navbar-brand:hover{
    transform: scale(1.5);
    
}


  .nav a{
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    color:red;
    text-transform: uppercase;
  }
  .navbar-header a:hover {
    color: black !important;
  }
  .home{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .logo
  {
    width: 60vh;
    height: 71vh;
    float:right;
    box-shadow: 0 4px 20px 0 rgba(0, 191, 255, 0.2), 0 6px 20px 0 rgba(0, 191, 255, 0.19);
      
  }
  
  .headers {
    padding-top: 5%;
    font-family: "Roboto", sans-serif;
    color: yellow;
    display: flex;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    align-items: center;
    padding-bottom: 2%;
    
  }
  
  .subcontent {
    font-family: "Arial", sans-serif;
    color: violet;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;
    padding-bottom: 4%;
    
  }
  .header-button{
      align-items: center;
      margin-left: 20%;
      margin-right: 10%;
      margin-top: 2%;
      padding-bottom: 10%;
  }
  
  .btn-success:hover {
       
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)
  }
  .btn-danger:hover {
       
    background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%)
  }
  
     
  .about{
      background-color: white;
      
      align-items: center;
      font-weight: bold;
  }
  .header1{
    padding-top: 5%;
    font-family: "Roboto", sans-serif;
    color: yellow;
    display: flex;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    align-items: center;
    padding-bottom: 2%;

  }
  .logo1
  {
    width: 20vw;
    height: 30vh;
    float:right;
    padding-top:80px ;
    padding-right: 200px;
    
    
      
  }
  .logo1:hover{
      transform: scale(1.2);
  }
 .card-header,.card-body{
   text-align: center;
 }
.team-header,
.contact-header {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}



.about-us-image:hover {
  transform: scale(1.08);
}
.about-us:hover{
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  
}
.about-us-icons {
  color: #00539cff !important;
}
   
    .btn-info {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
    .btn-info {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
       align-items: center;
     }

     .btn-info:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
     #pricing {
        padding: 100px;
        border: springgreen dotted 5px;
        background: #2980B9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      }
      .card:hover{
        background: #ee9ca7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        
      }
      .video{
        padding-top: 1em;
        padding-bottom: 1em;
        background: #000;
        margin-top: 4em;
        margin-bottom: 2em;
        text-align: center;
        color: #fff;
        border:2px solid black;
    }
   
    
    
    .btn-warning {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
    .btn-warning {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
     }

     .btn-warning:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
     .video-project-header {
        padding: 15px;
        color: orange;
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        
      }
      .video
      {
          background-color: peru;
      }
      .team-alignment {
        display: flex;
        justify-content: space-between;
      }
      
      .team-images {
        height: 200px;
        width: 350px;
        border-radius: 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
      
      .team-images:hover {
        transform: scale(1.09);
        
      }
      .team{
          padding-top: 30%;
          background: #4776E6;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      .mem-name{
          font-weight: bold;
          color: black;
      }
      .mem-position{
          font-weight: lighter;
          color: chartreuse;
      }
      .contact-background {
        height: 500px;
        background: #FF8008;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      
      
      
      .contact-labels {
        font-family: "Crete Round", serif;
        font-weight: 500;
      }
      
      .send-button {
        background-color: #00539cff !important;
        color:red;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
      }
        .send-button{background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%)}
        .send-button {
           margin: 10px;
           padding: 15px 45px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: red;            
           box-shadow: 0 0 20px #eee;
           border-radius: 10px;
           display: block;
         }

         .send-button:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }
        
        
      
      .text-center{
          padding-bottom: 2%;
      }
      .form-group{
          padding-bottom: 5%;
      }
      .dd{
          padding-top: 5%;
      }
      .about{
        background: #02AAB0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding-bottom: 3%;
      }
      footer{
 
        padding: 10px 0;
        background-color: #101010;
        color:#9d9d9d;
        width: 100%;  
        
        bottom:0px;
        align-items: center;
        
    
    }
    